{% extends '@OptimeAcl/layout.html.twig' %}

{% block page_header 'Access Control Configuration' %}

{% block styles %}
    {{ parent() }}
{% endblock %}

{% block page_content %}
    <div id="acl_root"
         data-basename="{{ path('optime_acl_configuration') }}"
         data-endpoint-api="{{ path('optime_acl_configuration') ~ '/api' }}"
    ></div>

    {{ block('page_footer') }}
{% endblock %}

{% block javascripts_bottom %}
    {{ parent() }}
    <script src="{{ asset('bundles/optimeacl/acl.js') }}"></script>
{% endblock %}
