{% extends '@OptimeEmail/layout.html.twig' %}

{% block page_header 'Emails Templates' %}

{% block page_header_actions %}
    <a href="{{ path('optime_emails_template_create') }}" class="btn btn-primary">Create</a>
{% endblock page_header_actions %}

{% block content %}

    {% if items|length > 0 %}
        <div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3">
            {% for item in items %}
                <div class="col mb-3">
                    <div class="card h-100">
                        <div class="card-header d-flex fw-bold">
                            <span class="flex-fill">
                                {{ item.config.code }}
                            </span>
                            <span>{{ ' {' }}{{ item.app }}{{ '}' }}</span>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title mb-auto">{{ item.subject }}</h5>
                            <p class="card-text mt-3">
                            </p>

                            <div class="d-flex gap-1 flex-wrap">
                                <a class="mb-2 mb-lg-0 me-lg-2 btn btn-outline-primary"
                                   href="{{ path('optime_emails_template_edit', {uuid: item.uuid}) }}">Edit</a>

                                <a href="{{ path('optime_emails_template_preview', {uuid: item.uuid}) }}"
                                   class="mb-2 mb-lg-0 me-lg-2 btn btn-outline-secondary"
                                   target="_blank">Preview</a>

                                <a href="{{ path('optime_emails_send_test', {uuid: item.uuid}) }}"
                                   class="mb-2 mb-lg-0 me-lg-2 btn btn-outline-dark ms-sm-auto"
                                >Send Test</a>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            <small class="fst-italic">{{ item.uuid }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="col alert alert-secondary">No items found.</div>
    {% endif %}

{% endblock %}