<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Access Control Configuration - Backend</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ asset('bundles/optimeacl/styles.css') }}">
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</head>
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3"
            href="{{ path(header_path|default('optime_acl_configuration')) }}">
        {{ header_title|default('Access Control Backend') }}
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            {% if app.user %}
                <a class="nav-link px-3" href="#">{{ app.user.userIdentifier }}</a>
            {% endif %}
        </div>
    </div>
</header>

<div class="container-fluid">
    {% block page_content %}
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('optime_acl_configuration') }}">
                                <span data-feather="home"></span>
                                Access Control
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('optime_acl_resources_list') }}">
                                <span data-feather="home"></span>
                                Resources Config
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ path('optime_acl_references_config') }}">
                                <span data-feather="home"></span>
                                Controllers Config
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <section style="min-height: 500px">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-5 border-bottom">
                        <h1 class="h2">{% block page_header %}{% endblock %}</h1>
                        <div class="btn-toolbar mb-2 mb-md-0 d-flex gap-2">
                            {% block page_header_actions %}
                            {% endblock page_header_actions %}
                        </div>
                    </div>

                    {{ include('@OptimeAcl/_flashes.html.twig') }}

                    {% block content %}
                    {% endblock %}
                </section>

                {% block page_footer %}
                    <footer style="min-height: 50px" class="border-top mt-4 p-4">
                        Footer.
                    </footer>
                {% endblock page_footer %}
            </main>
        </div>
    {% endblock page_content %}
</div>

{% block javascripts_bottom %}
{% endblock %}

</body>
</html>